__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
ENV/
instance/
*.db
*.sqlite3
.env
.DS_Store
*.log
.idea/
.vscode/
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
app/static/uploads/proofs/*
app/static/uploads/qr/*
app/static/uploads/tickets/*
!app/static/uploads/**/.gitkeep
